/* homepage */

body {
  font-family: "Montserrat", sans-serif;
}

.logo img {
  padding: 0 35px;
}
.navlogo {
  width: 100px;
  height: 100px;
}

.navbar {
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffb5d7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}
.navbar li {
  display: inline;
}

.navbar li a {
  color: white;
  font-size: 1.7em;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero1 {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero2 {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero3 {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  background-color: #ffb5d7;
  color: #fff;
  border: none;
  margin: 5px;
  width: 5%;
  padding: 10px 32px;
}

.indicators > button.active {
  background-color: #aadbff;
  color: white;
}

.textHeader {
  color: #779be7;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featured img {
  height: 350px;
  padding: 20px;
  aspect-ratio: 1;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

footer {
  text-align: center;
  background-color: #ffb5d7;
}

#copyright {
  color: white;
  margin-top: 1em;
}

/* contact page */

body {
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.contact-box {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.contact-box h2 {
  color: #779be7;
}

.contact-box p {
  margin-bottom: 10px;
  color: #779be7;
  text-align: center;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}

.field {
  width: 100%;
  border: 2px solid #779be7;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
  border-radius: 12px;
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #779be7;
  color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 12px;
}

/* product page */

/* .productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3rem;
  justify-content: space-evenly;
}

productImages h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.filtercontain {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.filterbutton {
  background-color: #ffb5d7;
  border: none;
  color: #fff;
  margin: 5px;
  padding: 10px;
  width: 10%;
  text-align: center;
  height: auto;
  font-size: 1.5em;
} */

h1.prodHeader {
  color: #779be7;
  text-align: center;
  margin-top: 20px;
}

.products {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.prodContainer {
  display: flex;
  justify-content: center;
  width: 800px;
  flex-wrap: wrap;
  padding: 20px;
}

@media (min-width: 1300px) {
  .prodContainer {
    width: 80%;
  }
}

@media (min-width: 1900px) {
  .prodContainer {
    width: 60%;
  }
}

.proImg {
  margin: 10px 20px;
  height: 350px;
  aspect-ratio: 1;
  object-fit: cover;
}
